.deliverWays {
    height: 180px;
}

.deliverCheck {
    margin: 20px;
    width: 20px;
    height: 20px;
}

.deliverStandard, .deliverExpress {
    display: flex;
    align-items: center;
    width: 550px;
    border: 1px solid rgb(176, 175, 175);
    border-radius: 5px;
}

.deliverWay {
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
}

.deliverExpress {
    margin-top: 10px;
}