.paymentInfo {
    height: 180px;
}

.inputLabel {
    color: rgb(155, 146, 146);
    font-weight: bold;
    margin: 5px 0;
}

.payInputName, .payInputNumber {
    width: 300px;
    padding-left: 10px;
}

.paymentSecret {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paymentCVC {
    margin-top: 4px;
}

.payInputExpire, .payInputCVC {
    width: 250px;
    padding-left: 10px;
}