.cartInfoShipping, .cartInfoTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 5px 10px;
  border-top: 1px solid rgb(184, 172, 172);
  font-weight: bold;
}

